/*첫번째 인덱스*/
.one{
    width: 100%;
}
/*첫번째버튼*/

.index1 {
  color: white;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 600px;
  background: cornflowerblue;
  color: white;
  text-align: left;
}
.index1 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.index1 .oneMain {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.index1 .oneMain .oneLogo{
   text-align: center;
}
.index1 .oneMain .oneTitle {
    height: 200px;
  
  }
.index1 .oneMain > div {
  height: 50%;
  overflow: hidden;
  width: 50%;
  position: relative;
  margin-left: 120px;

}

.index1 h2,
.index1 h3 {
  margin-left: 100px;
  margin: 0;
  position: absolute;
  left: 0;
  text-transform: uppercase;
}

.index1 h3 {
  font-style: italic;
  margin-left: 30px;
  font-size: 2.5em;
  bottom: 0;
  font-weight: 500;
}
.index1 h3:nth-of-type(2) {
  opacity: 0;
  -webkit-transform: translateY(150%);
  transform: translateY(150%);
}

.index1:hover .oneMain h3:first-of-type,
.index1.hover .oneMain h3:first-of-type {
  -webkit-transform: translateY(150%);
  transform: translateY(150%);
  opacity: 0;
}

.index1:hover .oneMain h3:nth-of-type(2),
.index1.hover .oneMain h3:nth-of-type(2) {
  opacity: 1;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}

/*메인인덱스 버튼 */
.wrapBtn {
  height: 120%;
  display: flex;
  align-items: center;
}

.button {
  width: 120px;
  height: 45px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: white;
  background-color: cornflowerblue;
  border:1px solid white;
  border-radius: 45px;
  transition: all 0.3s ease 0s;
  margin-right: 20px;
  margin-top: 30px;
  padding: 0;
  }

.button:hover {
  background-color: white;
  border: none;
  box-shadow: 0px 15px 20px rgb(144, 170, 223);
  color: #555555;
  transform: translateY(-7px);
}


/*index2*/

.two{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
  }
  
  h1 {
    width: 40%;
    color: #555555;
    font-size: 3.5em;
    font-style: italic;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;

    /*세로 가운데 정렬해주기!*/
    position: relative;
    left: 50px;
    top: 300px;
  }

  .blob {
    position: absolute;
    top: 50px;
    left: 0;
    fill: cornflowerblue;
    width: 400px;
    z-index: -1;
    animation: move 10s ease-in-out infinite;
    transform-origin: 50% 50%;
  }
  
  @keyframes move {
    0%   { transform: scale(1)   translate(10px, -30px); }
    38%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
    40%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
    58%  { transform: scale(0.8.1) translate(80vw, 40vh) rotate(140deg); }
    78%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
    80%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
    100% { transform: scale(1)   translate(10px, -30px); }
  }

  /**인덱스 2 오른쪽*/
.index2-content{
  width: 100%;
  display: inline-block;
  overflow: hidden;
}


/*공통*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


 .blob2{

  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: none;
  float: right;
  
}
.flip-card-container {
 
  width: 700px;
  height: 500px;
 
  
}

/*카드의 전체*/
.flip-card {
  width: inherit;
  height: inherit;
  position: relative;
 
}



.card-front {
  width: 80%;
  height: 80%;
  border-radius: 24px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}


.card-front {
  transform: rotateY(0deg);
  z-index: 2;
}

/* .card-back {
  transform: rotateY(180deg);
  z-index: 1;
} */


.img-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} 

.card-front > img  {
  height: 100%;
  border-radius: 24px;
} 


.rentalNumBtn{

  width: 120px;
  height: 45px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: white;
  background-color: cornflowerblue;
  border:1px solid white;
  border-radius: 45px;
  transition: all 0.3s ease 0s;
  margin-right: 20px;
  margin-top: 30px;
  padding: 0;

  


}











