/*login*/

.form-login {
    margin-top: 50px;
    margin-bottom: 50px;
    
}

.btn-block {
    background-color:cornflowerblue;
    border: 1px solid cornflowerblue; 
   
}
.btn-block:hover {
    background-color:rgb(171, 188, 227);
    color: white;
    border: 1px solid rgb(171, 188, 227); ;
}
.sub {
    margin-top: 108px;
    text-align: center;
    margin-bottom: 120px;
}
@media (max-width:992px) {
    .sub{

    padding-top: 30px;
    }
    
}

.login-body {
    height: 740px;
    margin-top: 80px;
}
/*카카오버튼 로그인*/



/*join.css*/

.join{
    margin-top: 80px;
}

.join-form {
    height: 900px;
    margin-top: 40px;
    margin: 0 auto;
    float: none;
    overflow: hidden;
  }
  .join-group {
      margin-top: 20px;
      overflow: hidden;
  }

  .join-btn> button {
      text-align: center;
      display: block;
      width: 100%;
      margin-top: 10px;
  }


  .email-group {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    }

  .email-left {
      float: left;
      width: 49%;
      
     
      
  }
  .email-right {
      float: right;
      width: 49%;
      
  }

  .j-group {
      display: inline-block;
      overflow: hidden;
      width: 100%;
  }

  .j-left {
      float: left;
      width: 80%;
      border-right: none;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
  }

  .CheckBtn {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      background-color:cornflowerblue;
      width: 20%;
      color: white;
  }
  .CheckBtn:hover{
      background-color:rgb(171, 188, 227);
      border:1px solid none;
      color: white;
  }

  .addr-top {
      margin-bottom: 6px;
  }
  .join-btn{
      color: white;
  }
  .joinBtn:hover{
    background-color:rgb(171, 188, 227);
    color: white;
  }

/**/

.forgot-body{
    width: 100%;
    height: 450px;
}

.forgot-form{
    width: 60%;
    margin: 0 auto;
    margin-top: 60px;
}


  
  
  
  

